{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.yayinlama_tarihi %}
            <div class="date">
                {{ post.yayinlama_tarihi }}
            </div>
            {% else %}
            <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Yayinla</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ post.baslik }}</h1>
        <p>{{ post.yazi|linebreaksbr }}</p>
    </div>
{% endblock %}
